/.idea/
Mailer/MainApplication/go.sum
.idea
.idea/workspace.xml
../go.sum
/CleanArch
/vendor/
/.travis/deploy_key
/.travis/deploy_key.pub
*.txt
#/FileService/test/mock_*/
#/MailService/test/mock_*/
#/MainApplication/test/mock_*/
#/SmtpService/test/mock_*/
#/UserService/test/mock_*/
#/FileService/test/selicium/
